/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@font-face {
  font-family: "Jedi";
  src: font-url('star_jedi/starjedi/Starjedi.ttf') format("truetype");
}

@font-face {
  font-family: "Jedi-hollow";
  src: font-url('star_jedi/starjedi/Starjhol.ttf') format("truetype");
}

body {
  color: white;
  background: url("277120-large-star-wars-backgrounds-x-retina.jpg") no-repeat center center fixed;
  font-family: 'Josefin Sans', sans-serif;
}

a {
  text-decoration: none;
  color: #d09;
}

a:hover {
  color: yellow;
}

header {
  font-family: "Jedi";
}

p, li {
  font-size: 1.2em;
  font-weight: bold;
}

h2 {
  font-size: 2em;
}

.main-heading {
  font-size: 4em;
  color: yellow;
  text-align: center;
  margin: 0;
}

.sub-headings {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.sub-heading {
  margin: 0 20px;
  font-size: 2em;
}

.notice {
  color: blue;
}
.alert {
  color: red;
}

.index-all {
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
}

.index-box {
  text-align: center;
  width: 140px;
  max-height: 220px;
  background: rgba(250, 250, 250, 0.1);
  border: 1px rgba(250, 250, 0, 0.5) solid;
  margin: 10px 20px;
  border-radius: 10px;
}

.index-box li {
  margin: 4px;
}

.index-img {
  width: 120px;
  max-height: 160px;
}

.show-page {
  width: 800px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border: 1px rgba(250, 250, 0, 0.5) solid;
  border-radius: 10px;
}

.edit-link {
  text-align: left;
  padding: 4px 10px;
}

.show-img {
  margin: auto;
  width: 500px;
}

.films {
  padding-left: 0;
  list-style: none;
}

.film {
  display: inline;
}

.show-page-list {
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0px;
  text-align: center;
}

.character-show-img {
  width: 120px;
  max-height: 120px;
}

@media only screen and (max-width: 800px) {
  .show-page {
    width: 490px;
  }
  .show-img {
    width: 300px;
  }
}
